<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} KUZIRA CAFE</title>
    <link rel="stylesheet" href="statics/css/style.css">
</head>
<body id="top">
    <!-- ヘッダー -->
    <header class="header">
        <div class="logo">
            <a href="index.html"><img src="statics/images/logo.svg" alt="KUZIRA CAFE"></a>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="{{url_for('index')}}">ホーム</a></li>
                <li><a href="{{url_for('index')}}#news">お知らせ</a></li>
                <li><a href="{{url_for('index')}}#shop">店舗情報</a></li>
                <li><a href="{{url_for('access')}}">アクセス</a></li>
                <li><a href="{{url_for('menu')}}">メニュー</a></li>
                <li><a href="{{url_for('contact')}}">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>
    <!-- ヘッダーここまで -->
    <h1 class="hero index">{% block hero %}{% endblock %}</h1>
    <!-- メイン -->
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <!-- メインここまで -->
    <!-- フッター -->
    <footer>
        <div class="gotop">
            <a href="#top"><img src="statics/images/gotop.svg" alt="ページトップへ戻る"></a>
        </div>
        <p class="copyright">&copy; KUZIRA CAFE</p>
    </footer>
    <!-- フッターここまで -->
</body>
</html>
